<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NicksAutoClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NicksAutoClicker.Properties.Settings>
            <setting name="InstantAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimationInterval" serializeAs="String">
                <value>33.3333</value>
            </setting>
            <setting name="GlassBackground" serializeAs="String">
                <value>True</value>
            </setting>
        </NicksAutoClicker.Properties.Settings>
    </userSettings>
</configuration>